p{
    font-size: 20px;
}

ul.accordion{
    list-style-type: none;
}

.accordion-panel{
    display: none;
    margin: 5px;
}

.accordion-control{
    background-color: grey;
    color: white;
    border: 2px solid grey;
    font-size: 20px;
    text-align: left;
    margin:5px;
    height: 50px;
    width: 50%;
    padding: 7px;
}

.accordion-control:hover{
    background-color: white;
    color: black;
}

.accButton{
    height: 40px;
    width: 120px;
    font-size: 20px;
    padding: 4px;
    margin-right: 5px;
}

#delete_message
{
	display:none;
	position:fixed;
	top:0px;
	width:100%;
	height:150px;
	background-color:#5882FA;
	text-align:center;
}
#delete_message h2
{
	color:#0431B4;
}
#delete,#cancel
{
	border:none;
	background:none;
	width:120px;
	height:40px;
	font-size:18px;
	border-radius:5px;
	border:2px solid white;
	margin:10px;
	color:#CED8F6;
}