<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"  charset="UTF-8">
    <title>Beheer Portaal</title>
    <link type="text/css" href="styles.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="scripts.js"></script>
</head>
<body>
<div id="delete_message">
    <h2>Weet je zeker dat je deze activiteit wilt verwijderen?</h2>
    <button id="delete" value="Verwijderen">Verwijderen</button>
    <input type="button" value="Annuleren" id="cancel">
</div>
<div>
    <div style="margin-left:45px;">
        <h1>Beheer Portaal</h1>
        <br/>
        <p>In dit portaal kunnen activiteiten worden onderhouden.<br/>
           Het portaal is ingedeeld in drie secties.<br/>
            Navigeer naar de desbetreffende sectie via onderstaande linkjes:</p>
        <ol style="font-size: 18px;">
            <li><a href="#nieuweActiviteit">Toevoegen nieuwe activiteiten</a></li>
            <li><a href="#filters">Selecteren van filters voor bestaande activiteiten</a></li>
            <li><a href="#resultaten">Resultaat van de al dan niet gefilterde activiteiten</a></li>
        </ol>
        <br/>
        <h2 id="nieuweActiviteit">Voeg een nieuwe activiteit toe</h2>
        <br/>
        <p>Druk op de knop nieuw om een nieuwe activiteit op te voeren.</p>
        <br/>
        <div class="accordion">
            <button class="accordion-control" onclick="openActiviteiteToevoegen();"><b>Nieuw</b></button>
        </div>
        <br/>
        <br/>

        <h2 id="filters">Filter selectie</h2>
        <label>Filter een categorie:</label>
        <select id="categorie">
        </select>
        <br/>
        <br/>
        <h2 id="resultaten">Activiteiten overzicht</h2>
    </div>
    <ul id="activiteiten" class="accordion">

    </ul>
</div>
<script>

$(document).ready(fillDropdownCategorie("#categorie","Alles"));
$(document).ready(fillListActivities("#activiteiten"));

$('.accordion').on('click','.accordion-control', function(e){
    e.preventDefault();
    $(this)
        .next('.accordion-panel')
        .not(':animated')
        .slideToggle();
});

function openActiviteitAanpassen(activiteitId){
    window.open("/activiteit_aanpassen/"+activiteitId,"_Blank", "top=100, left=200, height=600, width=400, menubar=no, toolbar=no");
}

$("#categorie").change(function(){
    fillListActivities("#activiteiten",this.value);
    });

function openActiviteiteToevoegen(){
    window.open("/activiteit_toevoegen","_Blank", "top=100, left=200, height=600, width=400, menubar=no, toolbar=no");
}

function setCategorie(categorieId){
    $('#categorie').val(categorieId);
}

function deleteActiviteit(activiteitId){
    $.ajax({
      type : "DELETE",
      url : "/activiteit_verwijderen/" + activiteitId,
      success: function(){
        fillListActivities("#activiteiten",$('#categorie').val())
      },
      error : function(e) {
        alert("ERROR: ", e);
        console.log("ERROR: ", e);
      }
    });
}

function setDeleteId(activiteitId){
    $("#delete").val(activiteitId);
}

$('#delete').click(function(){
    deleteActiviteit($('#delete').val())
    hide();
});

$("#cancel").click(function(){
    hide();
  });

function message()
{
  $("#delete_message").slideDown();
}

function hide()
{
  $("#delete_message").slideUp();
}
</script>
</body>
</html>