<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beheer Portaal</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<div>
    <h1>Beheer Potaal</h1>
    <br/>
    <br/>
    <label>Filter een categorie:</label>
    <select id="categorie">
        <option value="-1">Alles</option>
    </select>
    <br/>
    <br/>
    <h2>Activiteiten - bewerken</h2>
    <ul>
        <li><div>Voorbeeld 1</div></li>
        <li><div>Voorbeeld 2</div></li>
    </ul>

</div>


</body>
</html>